doctype html
html(lang="en")
  head
    title Preview
    link(rel="stylesheet" href="style.css")
  body.bg-slate-50: div.container.px-16.pb-12(class="2xl:px-8")
    h2.section-title colors (override)
    .grid.grid-cols-1.place-items-center.gap-6(class="sm:grid-cols-2 lg:grid-cols-4")
      each colorVal, colorKey in preset.theme.colors
        .grid.bg-white.text-slate-500.rounded-lg.shadow-lg.p-3
          .font-mono.text-xs= colorKey
          .col-start-2.font-mono.text-xs.text-right 1-10 (default: 6)
          .col-span-2.mt-2
            ul.grid.grid-cols-5.gap-2
              each colorHex, colorVariant in colorVal
                case colorVariant
                  when 'DEFAULT'
                    - break
                  default
                    li: div
                        .size-8.rounded&attributes({style: `background-color: ${colorHex};`})
    h2.section-title fontSize (override)
    div
      ul.grid.grid-cols-1.gap-8(class="xl:grid-cols-2")
        each fontSizeVal, fontSize in preset.theme.fontSize
          li
            .grid
              .font-mono.text-xs.leading-5.pb-1.border-b.border-slate-200.text-slate-500= `text-${fontSize}`
              .col-start-2.text-right.font-mono.text-xs.leading-5.text-slate-400.pb-1.border-b.border-slate-200= fontSizeVal
              .mt-4.col-span-2.text-slate-900&attributes({style: `font-size: ${fontSizeVal};`}) The quick brown fox jumps over the lazy dog
    h2.section-title borderRadius (override)
    div
      ul.grid.grid-cols-3.gap-8(class="xs:grid-cols-1 xl:grid-cols-6")
        each borderRadiusVal, borderRadius in preset.theme.borderRadius
          li
            .grid
              .font-mono.text-xs.leading-5.pb-1.border-b.border-slate-200.text-slate-500= borderRadius === 'DEFAULT' ? 'rounded' : `rounded-${borderRadius}`
              .col-start-2.text-right.font-mono.text-xs.leading-5.text-slate-400.pb-1.border-b.border-slate-200= borderRadiusVal
              .mt-4.col-span-2.flex.justify-center.items-center
                .size-8.bg-indigo-500(class="xs:size-4")&attributes({style: `border-radius: ${borderRadiusVal};`})
    h2.section-title screens (override)
    .prose.prose-slate
      table
        thead:tr
          th.text-left Breakpoint prefix
          th.text-left Minimum width
          th.text-left CSS
        tbody
          each screenVal, screen in preset.theme.screens
            tr
              td.font-mono= screen
              td.font-mono= screenVal
              td.font-mono= `@media (min-width: ${screenVal}) { ... }`
    h2.section-title colors (extend)
    - const groups = Object.entries(preset.theme.extend.colors).reduce((acc, [k, v]) => { acc[k.split('-')[0]] = { ...acc[k.split('-')[0]], [k]: v }; return acc; }, {})
    .prose.prose-slate
      table
        thead: tr
          th.text-left Group
          th.text-left Name
          th.text-left Value
        tbody
          each groupVal, groupName in groups
            - let idx = 0;
            each colorVal, colorName in groupVal
              tr
                if !idx
                  td.font-mono.text-center.align-middle&attributes({rowspan: Object.entries(groupVal).length})= groupName
                td.font-mono.pl-0= colorName
                td.font-mono
                  .flex.flex-row.items-center
                    .size-4.mr-2.rounded-full.border.border-slate-200&attributes({style: `background-color: ${colorVal};`})
                    span= colorVal
              - idx++;
    h2.section-title boxShadow (extend)
    .font-mono.text-xs.text-slate-500
      ul.grid.grid-cols-2.gap-12(class="lg:grid-cols-4")
        each shadowVal, shadowName in preset.theme.extend.boxShadow
          li.rounded-lg&attributes({style: `box-shadow: ${shadowVal};`})
            .bg-white.rounded-lg.p-3.pt-10= shadowName
    h2.section-title padding (extend)
    .prose.prose-slate
      table
        thead:tr
          th.text-left Padding Size
          th.text-left Value
          th.text-left Preview
        tbody
          each paddingVal, paddingName in preset.theme.extend.padding
            tr
              td.font-mono= paddingName
              td.font-mono= paddingVal
              td
                .h-6.w-16.bg-stripes-white.bg-indigo-500&attributes({style: `padding-left: ${paddingVal};`})
                  .w-full.h-full.bg-white
    h2.section-title margin (extend)
    .prose.prose-slate
      table
        thead:tr
          th.text-left Margin Size
          th.text-left Value
          th.text-left Preview
        tbody
          each marginVal, marginName in preset.theme.extend.margin
            tr
              td.font-mono= marginName
              td.font-mono= marginVal
              td
                .h-6.w-16.bg-stripes-white.bg-indigo-500&attributes({style: `padding-left: ${marginVal};`})
                  .w-full.h-full.bg-white
    h2.section-title size (extend)
    div
      ul.grid.grid-cols-4.place-items-center.gap-6
        each sizeVal, sizeKey in preset.theme.extend.size
          li
            .flex.flex-col.gap-1.justify-center.items-center
              .rounded.bg-indigo-500&attributes({style: `width: ${sizeVal}; height: ${sizeVal};`})
              .font-mono.text-xs.text-slate-500= sizeKey
              .font-mono.text-xs.text-slate-500= sizeVal
